.item-roast {
  background: #fff;
  display: table;
  height: 2rem;
  font-size: .85rem;
  margin-bottom: 1.5rem;
  width: 280px;
  span {
    display: table-cell;
  }
}
.item-roast-amount {
  background-color: tan;
  height: 2rem;
  background-image: url('../assets/images/icons/icon-bean.gif');
  background-size: contain;
}

.coffee-list a {
  text-decoration: none;
}
.coffee-name {color: #333;display:block;font-size: 1.25rem; text-decoration: none;margin-top: .5rem; margin-bottom: .5rem;font-weight: 700;font-family: 'Special Elite', serif;}
.coffee-description {line-height: 1.25; }
