.delivery-form {
  select,
  input {
  font-size: initial;
  }
  .input {
    padding: .25rem .5rem;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  label {
    font-weight: 600;
    margin-bottom: .5rem;
    display: inline-block;
  }
  select {
    background: white;
    border-radius: 0;
    border: 1px solid #cfcfcf;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    /* -webkit-appearance: none; */
    -webkit-border-radius: 0px;
  }
}
