.flex-list {
  display: flex;
  flex-flow: row wrap;

  li {
      margin-bottom: 4%;

  }
  &.flex-list-3-col li {
    width: 30%;
    margin-right:3%;

  }

  &.flex-list-4-col li {
    width: 23%;
    margin-right:2%;

  }

  @media (max-width: 900px) {
    &.flex-list-4-col li {
      width: 48%;
      margin-right: 2%;

    }
  }

  img {
    max-width:100%;
  }
}
