.flex-list,
.flex-grid {
  display: flex;
  flex-flow: row wrap;


    &.small-flex-list-1-col .flex-item {
        width: 100%;

    }
&.flex-list-2-col .flex-item {
  width: 100%;
}


  @media only screen and (min-width: 480px) {

      &.flex-list-3-col .flex-item,
      &.flex-grid-3-col .flex-item {
        width: 50%;

    }
  }
  @media only screen and (min-width: 768px) {
    &.flex-list-2-col .flex-item {
      width: 45%;
    }
  &.flex-list-3-col .flex-item,
  &.flex-grid-3-col .flex-item {
    width: 33.333%;

  .flex-item-content:first-of-type {
    padding-left: 0;
  }
  }
}
  .flex-item {
      margin-bottom: 4%;
    }

  .flex-item-content {
    padding: 1rem;
  }





  &.flex-list-4-col .flex-item {
    width: 23%;
    margin-right:2%;

  }

  @media (max-width: 900px) {
    &.flex-list-4-col .flex-item {
      width: 48%;
      margin-right: 2%;

    }
  }

  img {
    max-width:100%;
  }
}
