footer {
  background: #333;
  color: #fff;
  text-align: center;

  .flex-item {
    text-align: center;
  }

  a {
    color: #a6cba6;
  }

  .copyright {
    text-align: center;
    font-size: .75rem;
    color: #999;
  }
  .social-media-icon {
    display: inline-block;
    fill: #a6cba6;
  }
}
