.menu-category {
  margin-bottom: 3rem;
  background: #fff;
}
.menu-item {
  padding: .5rem;
  margin-bottom: 1rem;

}
.menu-item-category {
  padding: .5rem;
  border-bottom: 4px solid #a6cba6;
}
.menu-item-title, .menu-item-price {
  display: inline-block;
  font-size: 1.25rem;
}
.menu-item-price {display:block;font-weight: 700;}

.menu-item-description {
  display: block;
  color: #999;
}

.menu-item-category-image {
  float: right;
  width: 100px;
  margin-top: -50px;
}
@media only screen and (max-width: 768px) {
  .menu-item-category-image {
    display: none;
  }
}
