.menu-category {
  margin-bottom: 3rem;
}
.menu-item {
  margin-bottom: 1rem;
}

.menu-item-title, .menu-item-price {
  display: inline-block;
  font-size: 1.25rem;
}

.menu-item-description {
  display: block;
}
