<!DOCTYPE HTML>
<html>
    {% include head.html %}

    <body class="layout-default {{page.title | slugify }}-page{% if page.page_image %} page-bg-image {% endif %}" {% if page.page_image %} style="background-image:url('{{site.baseurl}}{{page.page_image}}'){% endif %}">
        {% include top-nav.html %}
        {% if page.page_image %}
          <div class="page-image">
          </div>
        {% endif %}
        {% if page.page_header_image %}
            <div class="page-header" {% if page.page_header_image %} style="background-image:url('{{site.baseurl}}{{page.page_header_image}}')"{% endif %}>
              <div class="header-content">
              <h1 class="page-title">{{ page.title }}</h1>
            </div>
          </div>
        {% else %}
        <div class="page-header">
          <div class="header-content">
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      </div>
      {% endif %}
      <div class="content-container background-light-gray">
        <div class="main-content readability">
            {{ content }}
        </div>
    </div>
        {% include footer.html %}
    </body>

</html>
