<!DOCTYPE HTML>
<html>
    {% include head.html %}

    <body class="layout-default {{page.title | slugify }}-page{% if page.page_image %} page-bg-image {% endif %}" {% if page.page_image %} style="background-image:url('{{site.baseurl}}{{page.page_image}}'){% endif %}">
        {% include top-nav.html %}
        {% if page.page_image %}
        <div class="page-image">
        </div>
        {% endif %}
        <div class="content-container background-light-gray">
          <div class="header-content">
            <div class="page-header">
              <h1 class="page-title">{{ page.title }}</h1>
            </div>
          </div>
            <div class="main-content">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>

</html>
